body {
  background-color: rgb(13, 92, 138);
}
.hidden {
  display: none;
}
.outside-container {
  padding-top: 10%;
}
.container {
  display: grid;
  grid-template-columns: max-content, max-content, max-content;
}
.center {
  display: inline-flex;
  justify-content: center;
}
#dealer-score {
  padding-bottom: 2%;
  margin: 0%;
}
#player-score {
  margin: 0%;
}

#player {
  padding-bottom: 1%;
}

.buttons > a {
  margin-right: 5px;
  margin-left: 5px;
}
#game-over {
  text-align: center;
}
/* button Styles */
.hit {
  box-shadow: inset 0px 1px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 6px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.hit:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}
.hit:active {
  position: relative;
  top: 1px;
}

.stay {
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
}
.stay:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}
.stay:active {
  position: relative;
  top: 1px;
}

.play {
  box-shadow: inset 0px 1px 0px 0px #e184f3;
  background: linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color: #c123de;
  border-radius: 6px;
  border: 1px solid #a511c0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9b14b3;
}
.play:hover {
  background: linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
  background-color: #a20dbd;
}
.play:active {
  position: relative;
  top: 1px;
}
